# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
/dist-ssr

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.vault

# Misc
.DS_Store
.npm
.eslintcache
.stylelintcache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# AWS Amplify
.amplify
amplify_outputs*
amplifyconfiguration*
*.out
amplify_outputs.json

# TypeScript
*.tsbuildinfo
amplify_outputs.json
